
<div class="widget">
    <h2 class="widgettitle">Categories</h2>

    <ul class="menu">
        {% for category in categories %}
            <li><a href="{{ path('category_show', {'id': category.id  }) }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul><!-- /.menu -->
</div><!-- /.wifget -->