<div class="block background-white fullwidth mt80 mb-80">
    <div class="categories">
        <ul>
            <li>
                <a href="#" class="categories-action">Submit</a>
                <a href="#" class="categories-link"><i class="fa fa-bed"></i> Stay</a>
                <ul>
                    <li><a href="#">Homestay</a>,</li>
                    <li><a href="#">Hotel</a>,</li>
                    <li><a href="#">Camping</a>,</li>
                    <li><a href="#">Guesthouse,</a></li>
                    <li><a href="#">Hostel</a></li>
                    <li class="all"><a href="#">View All <i class="fa fa-chevron-right"></i></a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="categories-action">Submit</a>
                <a href="#" class="categories-link"><i class="fa fa-car"></i> Automotive</a>
                <ul>
                    <li><a href="#">Mechanics</a>,</li>
                    <li><a href="#">Gas Stations</a>,</li>
                    <li><a href="#">Parts</a>,</li>
                    <li><a href="#">Repair</a>,</li>
                    <li><a href="#">Tires</a></li>
                    <li class="all"><a href="#">View All <i class="fa fa-chevron-right"></i></a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="categories-action">Submit</a>
                <a href="#" class="categories-link"><i class="fa fa-suitcase"></i> Jobs</a>
                <ul>
                    <li><a href="#">Cook</a>,</li>
                    <li><a href="#">Hairdrasser</a>,</li>
                    <li><a href="#">Management</a>,</li>
                    <li><a href="#">Waiter</a>,</li>
                    <li><a href="#">Worker</a></li>
                    <li class="all"><a href="#">View All <i class="fa fa-chevron-right"></i></a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="categories-action">Submit</a>
                <a href="#" class="categories-link"><i class="fa fa-heart"></i> Medicine</a>
                <ul>
                    <li><a href="#">Dental</a>,</li>
                    <li><a href="#">Dermatology</a>,</li>
                    <li><a href="#">Neurology</a>,</li>
                    <li><a href="#">Pediatrics</a></li>
                    <li class="all"><a href="#">View All <i class="fa fa-chevron-right"></i></a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="categories-action">Submit</a>
                <a href="#" class="categories-link"><i class="fa fa-glass"></i> Nightlife</a>
                <ul>
                    <li><a href="#">Bars &amp; Pubs</a>,</li>
                    <li><a href="#">Concert</a>,</li>
                    <li><a href="#">Cinemas</a>,</li>
                    <li><a href="#">Disco</a>,</li>
                    <li><a href="#">Theater</a></li>
                    <li class="all"><a href="#">View All <i class="fa fa-chevron-right"></i></a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="categories-action">Submit</a>
                <a href="#" class="categories-link"><i class="fa fa-home"></i> Real Estate</a>
                <ul>
                    <li><a href="#">Apartmant</a>,</li>
                    <li><a href="#">Building Area</a>,</li>
                    <li><a href="#">Condo</a>,</li>
                    <li><a href="#">House</a>,</li>
                    <li><a href="#">Villa</a></li>
                    <li class="all"><a href="#">View All <i class="fa fa-chevron-right"></i></a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="categories-action">Submit</a>
                <a href="#" class="categories-link"><i class="fa fa-cutlery"></i> Restaurant</a>
                <ul>
                    <li><a href="#">Bistro</a>,</li>
                    <li><a href="#">Brunch</a>,</li>
                    <li><a href="#">Caffee</a>,</li>
                    <li><a href="#">Dinning</a>,</li>
                    <li><a href="#">Fast Food</a></li>
                    <li class="all"><a href="#">View All <i class="fa fa-chevron-right"></i></a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="categories-action">Submit</a>
                <a href="#" class="categories-link"><i class="fa fa-futbol-o"></i> Sports</a>
                <ul>
                    <li><a href="#">Bistro</a>,</li>
                    <li><a href="#">Brunch</a>,</li>
                    <li><a href="#">Caffee</a>,</li>
                    <li><a href="#">Dinning</a>,</li>
                    <li><a href="#">Fast Food</a></li>
                    <li class="all"><a href="#">View All <i class="fa fa-chevron-right"></i></a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="categories-action">Submit</a>
                <a href="#" class="categories-link"><i class="fa fa-map-marker"></i> Travel</a>
                <ul>
                    <li><a href="#">Cruises</a>,</li>
                    <li><a href="#">Destinations</a>,</li>
                    <li><a href="#">Holidays</a>,</li>
                    <li><a href="#">Transportations</a></li>
                    <li class="all"><a href="#">View All <i class="fa fa-chevron-right"></i></a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.categories -->

</div>

