
<div class="card-content">
    <h2><a href="{{ path('provider_show', {'id': p.provider.id }) }}">{{ p.provider.company }}</a></h2>

    <div class="card-meta">
        <i class="">Rate : {{ p.note_avg }}/{{ p.nmb_note }}</i>
    </div><!-- /.card-meta -->

    <div class="card-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
    </div><!-- /.card-rating -->

    <div class="card-actions">
        <a href="#" class="fa fa-bookmark-o"></a>
        <a href="listing-detail.html" class="fa fa-search"></a>
        <a href="#" class="fa fa-heart-o"></a>
    </div>

</div><!-- /.card-content -->