{% extends "base.html.twig" %}


{% block header %}

        {% block header_bottom %}
        {% endblock %}

{% endblock %}


{% block main %}
    <div class="main">
        <div class="main-inner">
            <div class="content">
                {% block content %}{% endblock %}
            </div>{# /.content #}
        </div>{# /.main-inner #}
    </div>{# /.main #}

{% endblock %}




{% block footer %}
   {% include 'partials/footer.html.twig' %}
{% endblock %}

