{% extends 'Annuaire/layout-annuaire.html.twig' %}

{% block title %}Test{% endblock %}

{% block header_bottom %}
{% include "Annuaire/header.html.twig" %}
{% endblock %}

{% block main %}
<h1>Page de Test</h1>
{% endblock %}