<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

        {% block stylesheet %}
            {% include ":partials:stylesheets.html.twig" %}
        {% endblock %}

        {% block javaScript_head %}{% endblock %}

        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <div class="page-wrapper">
            {% block header %}{% endblock %}

            {% block main %}{% endblock %}

            {% block footer %}{% endblock %}

            {% block javascript %}
                {% include ":partials:scripts.html.twig" %}
            {% endblock %}
        </div>
    </body>

</html>