
<div class="cards-small">
    <div class="card-small">
        <div class="card-small-image">
            <a href="listing-detail.html">
                <img src="/img/tmp/product-2.jpg" alt="{{ promotion.name }}">
            </a>
        </div>{# /.card-small-image #}

        <div class="card-small-content">
            <h3><a href="listing-detail.html">{{ promotion.name }}</a></h3>
            <h4><a href="listing-detail.html">{{ promotion.description }}</a></h4>

            <div class="card-small-price">{{ promotion.start|date('d-m-Y') }}</div>
            {##}
        </div>{# /.card-small-content #}
    </div>{# /.card-small #}
</div>{# /.cards-small #}