<div class="widget">
    <h2 class="widgettitle">Filter</h2>

    <div class="background-white p20">
        <form method="post" action="?">
            <div class="form-group">
                <label for="">Keyword</label>
                <input type="text" class="form-control" name="" id="">
            </div>{# /.form-group #}

            <div class="form-group">
                <label for="">Category</label>

                <select class="form-control" title="Select Category">
                    <option>Automotive</option>
                    <option>Real Estate</option>
                </select>
            </div>{# /.form-group #}

            <div class="form-group">
                <label for="">Location</label>
                <select class="form-control" title="Select Location">
                    <option>New York</option>
                    <option>San Francisco</option>
                </select>
            </div>{# /.form-group #}

            <div class="form-group">
                <label for="">Starting Price</label>
                <input type="text" class="form-control" name="" id="">
            </div>{# /.form-group #}

            <button class="btn btn-primary btn-block" type="submit">Search</button>
        </form>
    </div>
</div>{# /.widget #}