<div class="card-simple" data-background-image="/img/tmp/product-*.jpg">
    <div class="card-simple-background">
        <div class="card-simple-content">
            <h2><a href="{{ path('category_show', {'slug': category.slug  }) }}">{{ category.name }}</a></h2>


            <div class="card-simple-actions">
                <a href="#" class="fa fa-bookmark-o"></a>
                <a href="/category/{{ category.slug }}" class="fa fa-search"></a>
                <a href="#" class="fa fa-heart-o"></a>
            </div>{# /.card-simple-actions #}
        </div>{# /.card-simple-content #}

        <div class="card-simple-label">Category</div>

    </div>{# /.card-simple-background #}
</div>{# /.card-simple #}