

    <div class="cards-wrapper">

        <div class="row">
            {% if providers is iterable %}

                <!-- le nombre d'éléments de l'array 'providers'-->
                {% set length = (providers|length)-1 %}

                <!-- key de l'array 'providers'-->
                {% set i = 0 %}

                <div class="col-sm-8">
                    <div class="row">

                    {% for p in providers if i < length %} <!---->
                        {% if loop.first %}
                                <div class="col-sm-12">
                                    {% include "Partials/card.html.twig" %}
                                </div><!-- /.col-* -->

                        {% else %}
                            <div class="col-sm-6">
                                {% include "Partials/card.html.twig" %}
                            </div><!-- /.col-* -->
                        {% endif %}

                        {% set i = i+1 %}

                    {% endfor %}

                    </div><!-- /.row -->
                </div><!-- /.col-* -->


                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-12">
                            {% if i == length %}
                                {% include "Partials/card-tall.html.twig" with {'p': providers[i]} %}
                            {% endif %}
                        </div><!-- /.col-* -->
                    </div><!-- /.row -->
                </div><!-- /.col-* -->

            {% else %}

                <div class="col-sm-12">
                    <p>La liste de provider est vide.</p>
                </div><!-- /.col-* -->

            {% endif %}<!-- if providers is iterable -->


        </div><!-- /.row -->
    </div><!-- /.cards-wrapper -->