<div class="card card-tall" data-background-image="/img/tmp/product-1.jpg">
    <div class="card-label">
        <a href="listing-detail.html">Provider</a>
    </div>{# /.card-label #}

    {% include "provider/card-content.html.twig" %}

</div>{# /.card #}