<div class="card" data-background-image="/img/tmp/product-7.jpg">
    <div class="card-label">
        <a href="#">Provider</a>
    </div>{# /.card-label #}

    {% include "public/provider/card-content.html.twig" %}


</div>{# /.card #}
