<div class="testimonial last">
    <div class="testimonial-image">
        <img src="/img/tmp/agent-5.jpg" alt="">
    </div><!-- /.testimonial-image -->

    <div class="testimonial-inner">
        <div class="testimonial-title">
            <h2>Awesome Directory </h2>

            <div class="testimonial-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div><!-- /.testimonial-rating -->
        </div><!-- /.testimonial-title -->

        Donec finibus consectetur nunc, quis viverra nisi iaculis a. Donec non eros vel turpis bibendum sodales. Curabitur scelerisque nulla consequat elit semper, vitae lobortis velit tempor. Sed purus eros, pellentesque non maximus scelerisque, aliquam id magna. Integer in metus ante. Integer faucibus mi quis rhoncus cursus. Aliquam malesuada eleifend tellus, sit amet eleifend lacus aliquam in. Etiam a neque ut augue mattis gravida vel vel purus. Nullam bibendum viverra enim, in pretium purus.

        <div class="testimonial-sign">- Rachel Fast</div><!-- /.testimonial-sign -->
    </div><!-- /.testimonial-inner -->
</div><!-- /.testimonial -->